.status {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px;
  border-bottom-style: dashed;
  border-bottom-color: rgb(155, 120, 120);
}

.status:hover {
  background-color: lightgray;
  color: white;
  cursor: grabbing;
}

button:hover {
  cursor: pointer;
}
